.container {
  display: flex;
  flex-direction: column;
  margin: 100px auto 0;
  max-width: 800px;
  border-radius: 10px;
  border: 1px solid #69b1ff;
  padding: 50px;
}

.step {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin: 25px 0;
  padding: 10px;
  min-height: 300px;
  border-radius: 10px;
  border: 1px solid #bae0ff;
}

.buttons {
  margin: 0 auto;
}
